body {
    background-color:#1b365d;
    color: white;
}

h1{
    text-align: center;
}

nav {
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #a89968;
    display: flex;
    justify-content:space-between;
}

nav a {
    color: white;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
}

nav a:hover{
    background-color:blue;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#a89968;
  text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right:auto;
    width: 50%
}

#insta{
    width: 50px;
    height: 50px;
    text-align: center;
}

#facebook{
    width: 50px;
    height: 50px;
    text-align: center;
}

#twitter{
    width: 50px;
    height: 50px;
    text-align: center;
}